/*Course Theme styles for your course go here */

/*If you make something nice that can be used in multiple projects, maybe it should be graduated to global or shared with the team in some way?*/

/* Be sure to comment your CSS, so it makes it clear to other team members (specifically maintenance) what the styles are used for. You may want to mark one-off styles with a module or unit number.*/


/*
Course: 
AID:
Date:
*/


/* ==Global over-rides */



/* ==New Styles for Course X */

/*Note: Nancy likes the cool CSS3 note paper styles from 
http://bmccreative.com/blog:lined-paper-with-css
This should go in its own style sheet, perhaps.
*/
