@import "font-awesome.min.css";
/*
Course Default Style Sheet
Taliesin Smith
Started in Fall 2009/Winter 2010
Last Updated - Dec 4, 2013
Last validated - Dec 4, 2013 
Last uploaded to LMS - Dec 4, 2013
/*
Lessification Process:
-- Andrea started the lessification process by creating variables for colours. 
The colour palette was streamlined and kept very similar to our original. The Colour Palette page has been updated.
-- Steve is working on some re-organization in a different repo
*/
/*
Icons:
-- Font-awesome is going going to replace the small icons from http://www.famfamfam.com/lab/icons/silk/
-- There are two delt icon sets (blue and red). They are in the root of the style folder. Copy in the ones you want to use. The names are the same. The sets are not identical, but they are pretty close.
*/
/*
To do
 Replace icons with font-awesome.
 Need to look at headings inside block quotes.
 Guide needs explanation about formatting in blockquotes.
 There's been a request of using symbols instead of colours for nested bullets. Still to discuss/do.
 Need to add new boxes and lists to the guide.
*/
/*Fonts */
/*Main fonts*/
/* Font Awesome icon font */
/* Colors  */
body {
  background-color: #ffffff;
  color: #231f20;
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1em;
  line-height: 1.4;
  /*font-family: @serif;*/

  font-family: arial, helvetica, "trebuchet ms", verdana, sans-serif;
  color: #231f20;
}
#footer {
  margin: 0 0 20px 0;
}
/* == Main Containers */
/* header, footer, contentContainer, content, and all the little things that go in the header and footer*/
#header,
#footer,
#contentContainer {
  margin-right: 20px;
  margin-left: 20px;
  /*background-color: pink;*/

}
#header {
  margin-top: 5px;
  border-bottom: thin solid #91002c;
  /*background-color: green;*/

}
.content {
  margin: 0;
  padding: 0;
  border: 0;
  /*background-color: yellow;*/

}
#footer {
  border-top: thin solid #91002c;
  /*background-color: green;*/

}
.copyright,
.backToTop {
  font-size: 0.75em;
  clear: both;
}
/* Don't further shrink the text if the div-tag and the a-tag both have the class backToTop */
.backToTop .backToTop {
  font-size: 1em;
}
.backToTop,
div .backToTop {
  margin: 0;
  text-align: right;
}
.copyright p,
.courseTitle p {
  margin: 0;
  padding: 0;
}
.copyright em,
.courseTitle em {
  font-weight: normal;
}
.courseTitle {
  font-size: 0.75em;
}
/* == Default Course Global Settings */
/* == Headings */
h1,
h2,
h3,
h4,
h5,
h6,
caption {
  margin: 1em 0 0.5em 0;
  padding: 0;
  /*font-family: @serif;*/

  font-family: arial, helvetica, "trebuchet ms", verdana, sans-serif;
  color: #231f20;
  line-height: 1.2;
  font-weight: bold;
}
h1 {
  font-size: 2em;
  color: #2a5f7b;
  font-weight: normal;
}
h2 {
  font-size: 1.6em;
  font-weight: normal;
}
h3 {
  color: #2a5f7b;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: normal;
}
h4 {
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  font-size: 1.2em;
  line-height: 1.2em;
  border-bottom: 1px solid #9e918d;
  /*Adjust width in course theme as needed.*/

}
/* See the Table Styles section for headings inside tables */
h5,
h6 {
  font-size: 1em;
  line-height: 1.2em;
}
h5 {
  color: #231f20;
}
h6 {
  color: #65696e;
}
/* Used  for small text above the first h1 on a page*/
h1 span,
h1 a,
h1 small {
  display: block;
  font-size: 50%;
}
h1 span a,
h1 small a {
  display: inline;
}
h1 span a,
h1 small a {
  font-size: 100%;
}
h1 span,
h1 small {
  color: #9e918d;
}
/* Divider class, use carefully, maybe you just need to customized a heading instead of using a class on a heading*/
.divider {
  color: #2a5f7b;
  background-color: #ece9e8;
  margin: 2em 0 0 0;
  padding: 0.5em;
  font-family: Garamond, Georgia, "Times New Roman", times, serif;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  clear: both;
}
/* == Common Formatting for Content */
/* Remember to define focus styles! */
:focus {
  outline: 0;
}
/* Remember to highlight inserts and deletes somehow! */
ins {
  color: #231f20;
  text-decoration: none;
  background-color: #ffd500;
}
del {
  color: #231f20;
  text-decoration: line-through;
}
/* Code and pre-formated text */
code,
tt,
pre {
  font-family: "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
code,
tt {
  font-size: 0.8em;
  font-style: normal;
  letter-spacing: 0.10em;
  padding: 0 0.25em 0 0.25em;
  border-bottom: 4px double #9e918d;
}
pre {
  font-size: 0.8em;
  background-color: #cfe4ef;
  margin: 1em auto 2em auto;
  padding: 2em;
  width: 75%;
  overflow: scroll;
}
pre code {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: none;
}
/* == Content blocks */
p,
address,
blockquote {
  margin: 0.5em 0 1.5em 0;
  padding: 0;
}
/* Browsers render the blockquote consistently, but not the in-line quote. If you want quotes, you'll need to explicitly put them in the markup. 
However if your content is in a language other than English that may require special punctuation in speech, 
it might be a good idea to turn on automatic quotes and not inlcude them in the markup.
The multiple reset method here that turns quotes off in most if not all browsers 
and is taken from http://www.paulchaplin.com/blog/css-reset-and-quirky-quotes */
blockquote,
q {
  quotes: none;
}
blockquote cite {
  text-align: right;
}
/*
Safari doesn't support the quotes attribute, so we do this instead.
*/
blockquote:before,
blockquote:after,
q:before,
q:after {
  /*
	CSS 2; used to remove quotes in case "none" fails below.
	*/

  content: "";
  /*
	CSS 2.1; will remove quotes if supported, and override the above.
	User-agents that don't understand "none" should ignore it, and
	keep the above value. This is here for future compatibility,
	though I'm not 100% convinced that it's a good idea...
	*/

  content: none;
}
/* We currently have 3 styles for a blockquote. The default is a classic clean look, the boxQuote is a bit more styled and 
then the chunkyQuotes is the the blockquote with the big blue chunky quotes. Use the one that best suits your course.*/
blockquote {
  margin: 2em auto 3em;
  padding: 0;
  border-left: 4px solid #72afb6;
  background: none;
  width: 80%;
}
blockquote.boxQuote {
  border: 1px dashed #72afb6;
  background: transparent url(cssImg/boxQuote.png) 0.5em 0.5em no-repeat;
}
blockquote.chunkyQuotes {
  border-left: none;
  background: transparent url(cssImg/quoteClose.gif) bottom right no-repeat;
}
/*Blockquote serif font is a little small, so let's make it a little bigger.*/
blockquote * {
  font-size: 1.25em;
}
blockquote * * {
  font-size: 1em;
}
/* Always put your blockquoted text inside paragraph(s) nested inside the blockquote*/
blockquote p {
  margin: 0;
  padding: 0.75em 2.5em;
  font-family: Garamond, Georgia, "Times New Roman", times, serif;
  color: #65696e;
}
/* Only use the p.first for the chunkyQuotes class.*/
blockquote.chunkyQuotes p.first {
  background: transparent url(cssImg/quoteOpen.gif) top left no-repeat;
}
/* Cite is only supposed to be used for titles of works - note references to works.*/
cite {
  font-style: italic;
}
/*References to blockquotes*/
/*Used independently a b or cite inside a blockquote will display as block. They must be nested inside the last p of the 
blockquote to be legal html.*/
blockquote p b {
  display: block;
}
/*All components should look the same individually or bundled.*/
blockquote p b,
blockquote p.quoteRef {
  margin: 0;
  padding-top: 0.25em;
  color: #9e918d;
  font-style: italic;
  font-weight: normal;
  text-align: right;
}
/*When bundled in the p.quoteRef the bold and cite display inline and no longer need padding.*/
blockquote p.quoteRef cite,
blockquote p.quoteRef b {
  display: inline;
  padding: 0;
}
/*References and citations.
 For references to inline quotes, I suggest using a non-semantic inline element like the i-tag, with the class quoteRef 
to mark the references for your inline quotes.*/
.citation,
.quoteRef {
  color: #9e918d;
  font-style: italic;
  font-weight: normal;
}
/*== Lists */
/*Default margin and padding for all lists*/
ul,
ol,
dl {
  margin: 1em 0 2em 0;
  padding: 0 0 0 0.5em;
}
ol {
  padding-left: 2em;
  list-style-type: decimal;
}
ul ul,
ol ol {
  margin: 0.5em 0 0.5em 0;
  padding-left: 1em;
}
dl {
  margin-top: 0;
}
ul,
ol {
  list-style-position: outside;
}
li {
  margin: 0 0 0.5em 0;
  padding: 0;
}
dt {
  margin-top: 1em;
  /*note 0 margin on parent dl*/

  font-weight: bold;
}
dd {
  padding: 0 0 1em 1.5em;
  /*used padding to preserve extra space between the last dd and the next dt.*/

}
/* Un-ordered lists*/
/*No bullets by default on un-ordered lists. We are using background images for bullets. */
ul {
  list-style-type: none;
  list-style-image: none;
}
/* Only ul li's should get the bullets. */
ul li {
  background: transparent left 4px no-repeat;
  background-image: url(cssImg/bullet_munblue.gif);
  padding-left: 1.5em;
}
ul li li {
  background-image: url(cssImg/bullet_munwine.gif);
}
ul li li li {
  background-image: url(cssImg/bullet_munblack.gif);
}
ul li li li li {
  background-image: url(cssImg/bullet_grey.gif);
}
ul li li li li li {
  background-image: url(cssImg/bullet_star.png);
}
li ul {
  background-image: none;
}
/* Ordered lists*/
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
/* Classes for order lists - html attributes for list types are deprecated. */
ol.a {
  list-style-type: lower-alpha;
}
ol.A {
  list-style-type: upper-alpha;
}
ol.I {
  list-style-type: upper-roman;
}
ol.i {
  list-style-type: lower-roman;
}
/* Removes the li bullet image on li's when ol's with/without classes are nested inside a parent ul*/
ul ol li,
ol.a li,
ol.A li,
ol.I li,
ol.i li {
  background-image: none;
  padding-left: 0;
}
.customCount {
  margin-left: 0.5em;
  padding-left: 0;
  list-style-type: none;
  list-style-image: none;
}
.customCount li {
  margin-left: 0;
  padding-left: 0;
  background-image: none;
}
.customCount li span {
  width: 2em;
  /* accomodates up to 3 digits. Increase width if your numbers have more digits.*/

  display: block;
  float: left;
  color: #2a5f7b;
  /*change the color or use inherit*/

  /*color: inherit;*/
  /*uncomment if you want the numbers in the list to inherit color from their parent*/

  font-weight: bold;
  padding-right: 0.5em;
  text-align: right;
}
.customCount h1 span,
.customCount h2 span,
.customCount h3 span,
.customCount h4 span,
.customCount h5 span,
.customCount h6 span {
  color: inherit;
  font-size: 1em;
  font-style: inherit;
  font-weight: inherit;
  float: none;
  margin-left: 0;
  text-align: left;
  display: inline;
}
.customCount h1,
.customCount h2,
.customCount h3,
.customCount h4,
.customCount h5,
.customCount h6 {
  margin-bottom: 10px;
}
/*== Objectives and focus Lists*/
ol.objectives,
ul.objectives {
  width: 80%;
}
.objectives li,
li.unfocus {
  margin-bottom: .25em;
  color: #65696e;
  font-style: italic;
}
.objectives li.focus {
  color: #231f20;
  font-style: normal;
  font-weight: bold;
}
/*== Eval List*/
/* The evalList class is handy for the evaluation list. Increase/decrease widths as needed to accommodate anchor text. */
.evalList {
  margin: 0;
  padding: 0;
  width: 60%;
  text-align: right;
  font-weight: normal;
}
.evalList li {
  padding-left: 0;
  background-image: none;
}
.evalList {
  background-image: none;
}
.evalList a,
.evalList em,
.evalList i {
  display: block;
  float: left;
  font-weight: bold;
  text-align: left;
}
.evalList em,
.evalList i {
  color: #2a5f7b;
  font-weight: bold;
  font-style: normal;
}
.evalList strong,
.evalList span {
  color: #231f20;
  font-weight: bold;
  padding-left: 3em;
}
li.total {
  border-top: 1px #ece9e8 solid;
  font-weight: bold;
  background-image: none;
  text-align: left;
}
li.total span {
  float: right;
}
/*New inline list style from Nancy. Use on ordered or un-ordered lists. Useful for assignment deadlines and such.*/
.inlineDetails {
  border-bottom: 1px solid #231f20;
  border-top: 1px solid #231f20;
  list-style-type: none;
  padding: 0.25em;
}
.inlineDetails li {
  padding: 0 1.5em 0 0;
  background-image: none;
  display: inline;
}
.inlineDetails li strong {
  text-transform: uppercase;
}
/*== Horizontial Rule, a sectioning tool */
hr {
  margin: 3em 0;
  padding: 0;
  border: none;
  border-top: 1px solid #65696e;
  clear: both;
}
div.hr hr {
  display: none;
}
div.hr {
  clear: both;
  margin: 0 auto;
  padding: 3em 0;
  background-image: url(cssImg/hr.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1%;
  /* height needed for IE for the bg-image to show up */

}
/*== Inline content tags*/
small {
  font-size: 0.85em;
}
img {
  border: 0;
  margin: 0;
  padding: 0 0.5em;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
  font-weight: normal;
}
sup,
sub {
  font-size: 80%;
}
sup a,
sub a {
  font-weight: bold;
}
sup {
  position: relative;
  bottom: 0.5em;
  vertical-align: baseline;
}
sub {
  position: relative;
  bottom: -0.5em;
  vertical-align: baseline;
}
acronym,
abbr {
  cursor: text;
  /*cursor:help;*/
  /*This gives the question mark tool-tip.*/

  letter-spacing: 1px;
  border-bottom: 1px dotted #9e918d;
}
/* == Anchor Links */
a,
a:link,
a:visited {
  text-decoration: none;
  color: #91002c;
  /*border-bottom: 1px solid lighten(@accent, 80%);*/

}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #91002c;
  /*border-bottom: 1px dashed @accent;*/

  outline: none;
}
/* == Form Controls */
form {
  margin: 0;
  padding: 0;
  display: inline;
}
input,
select,
textarea {
  font: 1em Arial, Helvetica, sans-serif;
}
textarea {
  width: 100%;
  line-height: 120%;
}
label {
  cursor: pointer;
}
/* == Tables */
/* For the white borders to work in IE the tables must NOT have 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  /*needed for IE7 to show table's bg color creating the borders through the cell-spacing*/

  border-spacing: 2px;
  width: 99%;
  border: 1px solid #ece9e8;
  border-top: none;
  margin-bottom: 2em;
  background-color: #ffffff;
}
caption {
  margin: 1em 0 0 0;
  padding: 1em 0 1em 0;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px dashed #ece9e8;
  border-right: none;
  border-bottom: 1px solid #ece9e8;
  border-left: none;
  text-align: center;
}
caption.hide {
  font-size: 0.1em;
  height: 1px;
  text-indent: -9999px;
  border-top: none;
}
thead th,
tfoot th {
  background-color: #2a5f7b;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  padding: 1em;
}
thead th {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
tfoot th,
tfoot td {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  text-indent: 5px;
}
tbody {
  border: 1px solid #2a5f7b;
}
tbody th,
td {
  padding: 1em;
  text-align: left;
  background-color: #f8f8f8;
}
.alt td,
tbody .alt th {
  background-color: #ece9e8;
}
td {
  padding: 1em;
  border: 0 solid #ffffff;
}
td p,
td ul {
  margin: 1em 0;
  padding: 0;
}
td li {
  margin-bottom: 0;
}
/*Headings inside tables are neutralized to all look the same. There are 2 sizes and 2 colors for headings inside tables.*/
table h1,
table h2,
table h3 {
  margin-top: 0;
  margin-bottom: 0.25em;
  margin-left: 0;
  color: #2a5f7b;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: bold;
  font-style: normal;
}
table h4,
table h5,
table h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #231f20;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  font-style: normal;
  text-indent: 0;
  border-bottom: none;
}
/* == Global Classes */
/* general image replacement */
.replace,
.hide {
  text-indent: -9999px;
  font-size: 1px;
  /*do we need a line-height here?*/

}
/* Taliesin's handy in-line menu class */
.pipeLine {
  margin: 2em 0;
  padding: 0;
}
.pipeLine li {
  margin: 0;
  padding: 0 0.5em 0 0.55em;
  /* padding bigger on li to compensate for border */

  display: inline;
  border-right: 1px solid;
  background-image: none;
}
.pipeLine a {
  padding: 0;
}
.pipeLine li.last {
  border-right: none;
}
/* == General Formatting classes */
/* Add the emphasis class to an a em or a strong tag to get extra visual emphasis. */
.emphasis {
  font-weight: bold;
  font-style: italic;
  color: #2a5f7b;
}
.warn {
  font-weight: bold;
  color: #91002c;
}
/* == Reference Lists*/
.referenceList li,
.refList li {
  margin-left: 0;
  padding-left: 2.5em;
  text-indent: -2.5em;
  background-image: none;
}
.referenceList span.eresource,
.referenceList span.eResource,
.refList span.eresource,
.refList span.eResource {
  display: block;
  padding-left: 2.5em;
}
.referenceList .eresource .ereserve,
.referenceList span.eresource a,
.referenceList span.eResource a,
.refList span.eresource a,
.refList span.eResource a {
  display: inline;
  padding-right: 18px;
}
/** == Multi-media styles */
.mp3,
.audioPlayer,
.player,
.videoPlayer {
  margin: 1em;
  padding: 0;
}
.mp3 a {
  display: block;
  float: left;
  padding: 0 0.5em 0 3.5em;
  margin: 0;
  text-decoration: none;
  background: #ffffff url(cssImg/podcastPixie-2.gif) left top no-repeat;
}
.mp3 a:hover {
  background: #ffffff url(cssImg/podcastPixie-2.gif) left -25px no-repeat;
}
.mp3 a:active {
  background: #ffffff url(cssImg/podcastPixie-2.gif) left -50px no-repeat;
}
/* == Column Styles */
.colContainer,
.block {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow: auto;
  border-top: 1px dashed #72afb6;
}
.col {
  margin: 0;
  padding: 0 15px 0 0;
  float: left;
  border-left: 1px dashed #72afb6;
}
.block .col {
  border-left: none;
}
.spanOne {
  width: 20%;
  margin: 0;
  padding: 0 2% 0 3%;
}
.spanTwo {
  width: 40%;
  margin: 0;
  padding: 0 2% 0 3%;
}
.spanThree {
  width: 60%;
  margin: 0;
  padding: 0 2% 0 3%;
}
.spanFour {
  width: 95%;
  margin: 0;
  padding: 0 2% 0 3%;
}
.spanOneThird {
  width: 29%;
  margin: 0;
  padding: 0 2%;
}
.span50per {
  width: 40%;
  margin: 0;
  padding: 0 5% 0 5%;
}
.colContainer .first {
  border-left: none;
  padding-left: 0;
}
/* Zeroed out whitespace on headings inside the colContainer */
/* Customize you headings if you choose in your courseTheme. */
.colContainer h2,
.colContainer h3,
.colcontainer h4,
.colContainer h5,
.colcontainer h6 {
  margin: 0;
  padding: 0.5em 0;
}
/** == Iconic Link classes */
a.txt,
a.doc,
a.pdf,
a.ppt,
a.external,
a.ereserve,
a.external_pdf,
a.flash,
a.rtf,
a.email,
a.youtube,
a.tv,
a.munLink {
  background-position: right top;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-right: 20px;
}
a.txt,
a.rtf {
  background-image: url(cssImg/page_white_txt.png);
}
a.doc {
  background-image: url(cssImg/page_white_word.png);
}
a.pdf {
  background-image: url(cssImg/page_white_acrobat.png);
}
a.external_pdf {
  background-image: url(cssImg/page_white_acrobat_go.png);
}
a.external_pdf_v2 {
  background-image: url(cssImg/page_white_acrobat_go_v2.png);
}
a.ppt {
  background-image: url(cssImg/page_white_powerpoint.png);
}
a.flash {
  background-image: url(cssImg/page_white_flash.png);
}
a.external {
  background-image: url(cssImg/link_go.png);
}
a.ereserve {
  background-image: url(cssImg/book_go.png);
}
a.email {
  background-image: url(cssImg/email_link.png);
}
a.youtube,
a.tv {
  background-image: url(cssImg/television.png);
}
a.munLink {
  background-image: url(cssImg/munLink.png);
}
/*a {
	padding-left: 0.25em;
	&:before {
			color: @accent;	
			font-family: 'FontAwesome';
			content: "\f0c1";
		}
	}
*/
/*ereserve links on resources page. You need a parent div with the id #resources or id resources on the body tag*/
#resources li.ereserve {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #ece9e8 solid;
  width: 90%;
}
.eResource a,
.eresource a {
  display: block;
  margin-bottom: 20px;
  padding: 0;
}
li.ereserve,
li.eresource {
  background-image: none;
  padding-top: 0;
}
li.ereserve a.ereserve,
span.eresource a {
  display: block;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding-left: 25px;
  font-size: 80%;
}
/** == Contact list */
ul.contact {
  margin: 1em 0;
  padding: 0;
}
.contact li {
  margin: 0 0 0.5em;
  padding-left: 1.5em;
  text-indent: -1.5em;
  list-style-type: none;
}
.contact li.office {
  background-image: none;
}
.contact li.office:before {
  margin-right: 0.5em;
  color: #91002c;
  font-family: 'FontAwesome';
  content: "\f015";
}
.contact li.hours {
  background-image: none;
}
.contact li.hours:before {
  margin-right: 0.5em;
  color: #91002c;
  font-family: 'FontAwesome';
  content: "\f017";
}
.contact li.phone {
  background-image: none;
}
.contact li.phone:before {
  margin-right: 0.625em;
  color: #91002c;
  font-family: 'FontAwesome';
  content: "\f095";
}
.contact li.email {
  background-image: none;
}
.contact li.email:before {
  margin-right: 0.5em;
  color: #91002c;
  font-family: 'FontAwesome';
  content: "\f003";
}
.contact li.external-email {
  background-image: none;
}
.contact li.external-email:before {
  margin-right: 0.5em;
  color: #91002c;
  font-family: 'FontAwesome';
  content: "\f0e0";
}
.contact li.webpage {
  background-image: none;
}
.contact li.webpage:before {
  margin-right: 0.5em;
  color: #91002c;
  font-family: 'FontAwesome';
  content: "\f08e";
}
.contact li.responseTime {
  background-image: none;
}
.contact li.responseTime:before {
  margin-right: 0.5em;
  color: #91002c;
  font-family: 'FontAwesome';
  content: "\f112";
}
.contact li.fax {
  background-image: none;
}
.contact li.fax:before {
  margin-right: 0.5em;
  color: #91002c;
  font-family: 'FontAwesome';
  content: "\f02f";
}
/** == Menu class */
/*Puts the icons on the left, removes border and changes hover action.*/
.menu {
  margin: 0;
  padding: 0;
}
.menu li {
  padding-left: 0;
  background-image: none;
}
.menu a {
  padding-left: 24px;
  padding-right: 0;
  background: url(cssImg/arrow_right.png) no-repeat left top;
  border: none;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
  padding-left: 44px;
}
ul.ereserve li a {
  background: url(cssImg/book_go.png) no-repeat left top;
}
ul.flash li a {
  background: url(cssImg/page_white_flash.png) no-repeat left top;
}
/* == Footnote Styles*/
sup a,
sup a:link,
sup a:visited {
  font-weight: bold;
  margin-left: .25em;
}
sup a:hover,
sup a:focus,
sup a:active {
  font-weight: bold;
  color: #2a5f7b;
}
.footNoteList,
.footnoteList {
  margin: 0 0 0 0;
  border-top: none;
  padding: 0 0 0 0;
  font-size: 80%;
}
.foonoteList *,
.footNoteList * {
  font-size: 1em;
}
.footNoteList li,
.footnoteList li {
  margin: 0;
  padding: 0.5em 0 1em;
  background-image: none;
  /*border-bottom: 1px dashed @accent2;*/

}
.footNoteList li.last,
.footnoteList li.last {
  border-bottom: none;
}
.footNoteList sup,
.footnoteList sup {
  color: #2a5f7b;
  font-weight: bold;
  padding-right: 0.5em;
}
/** = Copyrighted List *//* Used to list readings that are linked to a scanned pdf and require a credit line. Alternatively you can just put your creditlines in the pdf. Don't do both.*/
ul.copyrighted {
  list-style: none;
  list-style-image: none;
  width: 80%;
}
.copyrighted li {
  background-image: none;
  border: 1px solid #ece9e8;
  padding-left: 0;
  text-indent: 0;
}
.copyrighted span {
  display: block;
  margin: 0;
  padding: 5px;
}
.copyrighted .creditLine {
  font-style: normal;
  background-color: #ece9e8;
  color: #231f20;
  font-size: 80%;
  line-height: 120%;
}
/** = Content Image Styles */
/* Stretchable image with caption using a dl or a div */
dl.img-withCaption,
div.img-withCaption {
  margin: 0;
  padding: 0 20px 40px 0;
  /* No need to adjust width when the percentage width is used. Create an image the maximum size you want it to appear. A percentage width of some percentage can be used to keep the image to a reasonable size in the viewable content area. It will shrink with the size of the window/screen.*/

  /*clear: both;*/

  width: 50%;
  /*Adjust this in the courseTheme if need be.*/

}
dl.img-withCaption dt,
dl.img-withCaption dd,
.img-withCaption img,
div.img-withCaption {
  margin: 0;
  padding: 0;
  width: 100%;
  /*max-width: 500px;*/
  /* To prevent images from stretching beyond their real size and pixelating set a max-width here if all your images are the same size, or inline if they are varied in size. Adjust this in the courseTheme if need be.*/

}
dl.img-withCaption dd,
dl.img-withCaption img {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #ece9e8;
}
.img-withCaption dd,
.img-wrapperWithCaption dd,
.img-withCaption span,
.img-withCaption p,
.img-wrapperWithCaption p,
.img-wrapperWithCaption span {
  margin: 0;
  padding: 4px;
  display: block;
  font-size: 1em;
  color: #65696e;
  font-style: italic;
  text-align: center;
  clear: both;
}
.caption {
  color: #65696e;
  font-style: italic;
  text-align: center;
}
/* The credit line does not accommodate long url's in the body of the creditLine span in IE. Chop and/or put long urls in the title attribute or use linked text. */
.img-withCaption span.creditLine,
.img-withCaption p.creditLine,
.img-wrapperWithCaption p.creditLine,
.img-wrapperWithCaption span.creditLine {
  margin: 4px;
  padding: 4px;
  font-style: normal;
  font-size: 80%;
  background-color: #ece9e8;
  color: #231f20;
  text-align: left;
}
.img-withCaption .creditLine a,
.img-wrapperWithCaption .creditLine a {
  font-size: 100%;
  /*which is 80% of normal inherited from parent*/

}
dl.floatRight {
  padding-left: 20px;
}
div.img-withCaption {
  border: 1px solid #ece9e8;
  margin: 20px;
  padding: 0;
}
div.img-withCaption img {
  width: 100%;
  margin: 0;
  padding: 0;
}
/*Display block needed for IE7. Without these rules the dt and dd were spilling out of the dl which has a fixed-width set. Needs further testing and investigation.*/
.img-withCaption dt,
.img-withCaption dd {
  /*display: block;*/

}
/*Image with a drop shadow (no cpation and non-stretchable)*/
.img-wrapper {
  background: url(cssImg/shadow.gif) no-repeat bottom right;
  background-color: transparent;
  clear: right;
  float: left;
  margin: 0 20px 20px 0;
}
.img-wrapper img {
  margin: 0 8px 3px 0;
  padding: 10px 12px 12px 10px;
  border-left: 1px solid #ece9e8;
  border-top: 1px solid #ece9e8;
}
/*Image with a drop shadow (and a caption)*/
.img-wrapperWithCaption {
  /*float: left;*/

  margin: 20px;
  margin-left: 0;
}
.img-wrapperWithCaption .img-wrapper {
  clear: right;
  float: left;
  margin: 0;
  padding: 10px 20px 10px 10px;
  border-left: 1px solid #ece9e8;
  border-top: 1px solid #ece9e8;
}
.img-wrapperWithCaption .img-wrapper img {
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  border: none;
}
.img-wrapperWithCaption p.creditLine,
.img-wrapperWithCaption span.creditLine,
.img-wrapperWithCaption p.caption,
.img-wrapperWithCaption span.caption {
  margin: 0 10% 0 10%;
  text-align: center;
}
/*== Boxes */
/* The note, keynote and iconNote boxes */
.note,
.keynote,
.iconNote,
.iconNoteList {
  margin: 3em 0 3em 0;
  /* The zero left and right margins left-algin the box. */

  /*margin: 1em 10% 2em 10%;*/
  /* The even left and right margins center the box a little bit. */

  padding: 20px 40px;
  background-color: #ece9e8;
  font-weight: normal;
  border: 1px solid #2a5f7b;
  border-top: 3px solid #91002c;
}
.keynote {
  border: 1px solid #377ca1;
  border-top: 3px solid #2a5f7b;
}
.iconNoteList {
  padding-bottom: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-top: 1px dashed #2a5f7b;
}
li .note,
li .keynote,
li .iconNote,
li .iconNoteList {
  margin-bottom: 1em;
}
.note h2,
.keynote h2,
.iconNote h2,
.iconNoteList h2,
.note h3,
.keynote h3,
.iconNote h3,
.iconNoteList h3,
.note h4,
.keynote h4,
.iconNote h4,
.iconNoteList h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 0;
}
.note h4,
.keynote h4,
.iconNote h4 {
  text-indent: 0;
  border-bottom: none;
}
/* Adding icons to a note box*/
.iconNote,
.iconNoteList {
  background-position: 0.5em 0.5em;
  background-repeat: no-repeat;
  min-height: 120px;
  /*needed to clear the icon*/

}
.iconNote *,
.iconNoteList * {
  margin-left: 80px;
}
.iconNote.iconSmall *,
.iconNoteList.iconSmall * {
  margin-left: 50px;
}
.iconNote * *,
.iconNote.iconSmall * *,
.iconNoteList * *,
.iconNoteList.iconSmall * * {
  margin-left: 0;
}
/* If you want to hide the h2 headings in your icon boxes uncomment*/
/*.iconNote h2{
	maring: 0;
	padding: 0;
	text-indent: -99999px; 
	font-size: 1px;
}*/
/*Subeadings are all black when inside a note box*/
.note h3,
.note h4,
.note h5,
.note h6,
.keynote h3,
.keynote h4,
.keynote h5,
.keynote h6,
.iconNote h3,
.iconNote h4,
.iconNote h5,
.iconNote h6 {
  color: #231f20;
}
/*Icons made by DELTS (some images from thenounproject.com)*/
/*Icon image sets are in the root styles folder.*/
/*There are 2 sizes of the icons: default 100x100 and small 50X50*/
.activity {
  background-image: url(cssImg/delt_mouse.png);
}
.iconNote.iconSmall.activity {
  background-image: url(cssImg/delt_mouse_small.png);
}
.iconNoteList.iconSmall.activity {
  background-image: url(cssImg/delt_mouse_small.png);
}
/*Thick book with a blank cover.*/
.book {
  background-image: url(cssImg/delt_book.png);
}
.iconNote.iconSmall.book {
  background-image: url(cssImg/delt_book_small.png);
}
.iconNoteList.iconSmall.book {
  background-image: url(cssImg/delt_book_small.png);
}
/*Thick book with a blank cover.*/
.text {
  background-image: url(cssImg/delt_textbook.png);
}
.iconNote.iconSmall.text {
  background-image: url(cssImg/delt_textbook_small.png);
}
.iconNoteList.iconSmall.text {
  background-image: url(cssImg/delt_textbook_small.png);
}
/*Bookmark ribbon.*/
.bookmark {
  background-image: url(cssImg/delt_bookmark.png);
}
.iconNote.iconSmall.bookmark {
  background-image: url(cssImg/delt_bookmark_small.png);
}
.iconNoteList.iconSmall.bookmark {
  background-image: url(cssImg/delt_bookmark_small.png);
}
/*A big check mark.*/
.check {
  background-image: url(cssImg/delt_checkmark.png);
}
.iconNote.iconSmall.check {
  background-image: url(cssImg/delt_checkmark_small.png);
}
.iconNoteList.iconSmall.check {
  background-image: url(cssImg/delt_checkmark_small.png);
}
/*Simple magnetic compass*/
.compass,
.direction {
  background-image: url(cssImg/delt_compass.png);
}
.iconNote.iconSmall.compass,
.iconNote.iconSmall.direction {
  background-image: url(cssImg/delt_compass_small.png);
}
.iconNoteList.iconSmall.compass,
.iconNoteList.iconSmall.direction {
  background-image: url(cssImg/delt_compass_small.png);
}
/*Discussion bubbles*/
.discuss {
  background-image: url(cssImg/delt_discuss.png);
}
.iconNote.iconSmall.discuss {
  background-image: url(cssImg/delt_discuss_small.png);
}
.iconNoteList.iconSmall.discuss {
  background-image: url(cssImg/delt_discuss_small.png);
}
/*envelope*/
.email {
  background-image: url(cssImg/delt_email.png);
}
.iconNote.iconSmall.email {
  background-image: url(cssImg/delt_email_small.png);
}
.iconNoteList.iconSmall.email {
  background-image: url(cssImg/delt_email_small.png);
}
/*eP*/
.ePortfolio {
  background-image: url(cssImg/delt_eP.png);
}
.iconNote.iconSmall.ePortfolio {
  background-image: url(cssImg/delt_eP_small.png);
}
.iconNoteList.iconSmall.ePortfolio {
  background-image: url(cssImg/delt_eP_small.png);
}
/*Form/document*/
.form {
  background-image: url(cssImg/delt_formDocument.png);
}
.iconNote.iconSmall.form {
  background-image: url(cssImg/delt_formDocument_small.png);
}
.iconNoteList.iconSmall.form {
  background-image: url(cssImg/delt_formDocument_small.png);
}
/*Group or group work*/
.group {
  background-image: url(cssImg/delt_group.png);
}
.iconNote.iconSmall.group {
  background-image: url(cssImg/delt_group_small.png);
}
.iconNoteList.iconSmall.form {
  background-image: url(cssImg/delt_group_small.png);
}
/*Hourglass/timer. Perhaps indicating a timed assignment/timed quiz*/
.hourglass,
.timed {
  background-image: url(cssImg/delt_hourglass.png);
}
.iconNote.iconSmall.hourglass,
.iconNote.iconSmall.timed {
  background-image: url(cssImg/delt_hourglass_small.png);
}
.iconNoteList.iconSmall.hourglass,
.iconNoteList.iconSmall.timed {
  background-image: url(cssImg/delt_hourglass_small.png);
}
/*A lightbulb. Perhaps for an idea.*/
.idea {
  background-image: url(cssImg/delt_lightbulb.png);
}
.iconNote.iconSmall.idea {
  background-image: url(cssImg/delt_lightbulb_small.png);
}
.iconNoteList.iconSmall.idea {
  background-image: url(cssImg/delt_lightbulb_small.png);
}
/*Exclamation point. Perhaps for importance.*/
.important {
  background-image: url(cssImg/delt_exclamation.png);
}
.iconNote.iconSmall.important {
  background-image: url(cssImg/delt_exclamation_small.png);
}
.iconNoteList.iconSmall.important {
  background-image: url(cssImg/delt_exclamation_small.png);
}
/*An open soft cover book. Perhaps indicating a reading/writing activity or journal entry.
Or readings other than textbook readings.*/
.openBook {
  background-image: url(cssImg/delt_openBook.png);
}
.iconNote.iconSmall.openBook {
  background-image: url(cssImg/delt_openBook_small.png);
}
.iconNoteList.iconSmall.openBook {
  background-image: url(cssImg/delt_openBook_small.png);
}
/*A pinned-up photo or camera indicating a photo gallery activity.*/
.photoGallery {
  background-image: url(cssImg/delt_photoGallery.png);
}
.iconNote.iconSmall.photoGallery {
  background-image: url(cssImg/delt_photoGallery_small.png);
}
.iconNoteList.iconSmall.photoGallery {
  background-image: url(cssImg/delt_photoGallery_small.png);
}
/*A question mark. Can be used to callout or highlight questions.*/
.question {
  background-image: url(cssImg/delt_question.png);
}
.iconNote.iconSmall.question {
  background-image: url(cssImg/delt_question_small.png);
}
.iconNoteList.iconSmall.question {
  background-image: url(cssImg/delt_question_small.png);
}
/*Curved arrow for a review*/
.review {
  background-image: url(cssImg/delt_reviewArrow.png);
}
.iconNote.iconSmall.review {
  background-image: url(cssImg/delt_reviewArrow_small.png);
}
.iconNoteList.iconSmall.review {
  background-image: url(cssImg/delt_reviewArrow_small.png);
}
/*Slides for a presentation perhaps*/
.slides {
  background-image: url(cssImg/delt_slides.png);
}
.iconNote.iconSmall.slides {
  background-image: url(cssImg/delt_slides_small.png);
}
.iconNoteList.iconSmall.slides {
  background-image: url(cssImg/delt_slides_small.png);
}
/*Speaker sound icon*/
.sound {
  background-image: url(cssImg/delt_sound.png);
}
.iconNote.iconSmall.sound {
  background-image: url(cssImg/delt_sound_small.png);
}
.iconNoteList.iconSmall.sound {
  background-image: url(cssImg/delt_sound_small.png);
}
/*Head set with microphone*/
.synchSession {
  background-image: url(cssImg/delt_headset.png);
}
.iconNote.iconSmall.synchSession {
  background-image: url(cssImg/delt_headset_small.png);
}
.iconNoteList.iconSmall.synchSession {
  background-image: url(cssImg/delt_headset_small.png);
}
/*Pen or pencil for a note or writing activity*/
.takeNote,
.write {
  background-image: url(cssImg/delt_write.png);
}
.iconNote.iconSmall.takeNote,
.iconNote.iconSmall.write {
  background-image: url(cssImg/delt_write_small.png);
}
/*Film strip or video camera*/
.video {
  background-image: url(cssImg/delt_video.png);
}
.iconNote.iconSmall.video {
  background-image: url(cssImg/delt_video_small.png);
}
.iconNoteList.iconSmall.video {
  background-image: url(cssImg/delt_video_small.png);
}
/*External link icon (box with arrow pointing out)*/
.web {
  background-image: url(cssImg/delt_externalLink.png);
}
.iconNote.iconSmall.web {
  background-image: url(cssImg/delt_externalLink_small.png);
}
.iconNoteList.iconSmall.web {
  background-image: url(cssImg/delt_externalLink_small.png);
}
/** = Rounded corner boxes. Add a colour by using the class colour names. */
.box {
  max-width: 800px;
  width: 80%;
  /*background: @lt_grey url(cssImg/rc_bgWhite.png) no-repeat left bottom;*/

  background: #ece9e8 url(cssImg/rc_leftBottomNew.png) no-repeat left bottom;
  margin: 2em 10%;
}
.box-outer {
  /*background: url(cssImg/rc_bgWhite.png) no-repeat right bottom;*/

  background: url(cssImg/rc_rightBottomNew.png) no-repeat right bottom;
  padding-bottom: 1em;
}
.box-inner {
  /*background: url(cssImg/rc_bgWhite.png) no-repeat left top;*/

  background: url(cssImg/rc_leftTopNew.png) no-repeat left top;
}
/*The h2 gets the 4th corner of the box, so don't change the top margin and paddings of h2's here.*/
/* Always make sure the h2 in a box has no top margin, or the rounded corners break. */
.box h2 {
  margin-top: 0;
  /* don't change this!*/

  margin-bottom: 0.5em;
  padding-top: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  /*background: url(cssImg/rc_bgWhite.png) no-repeat right top;*/

  background: url(cssImg/rc_rightTopNew.png) no-repeat right top;
}
/*Set the left and right spacing for elements inside the box*/
.box h2,
.box p,
.box h3,
.box h4,
.box h5,
.box h6 {
  padding-left: 5%;
  padding-right: 5%;
}
.box h3,
.box h4,
.box h5,
.box h6 {
  font-size: 1.2em;
  margin-bottom: 0.25em;
}
/* Subheadings are all black when inside an RC box */
.box h3,
.box h4,
.box h5,
.box h6 {
  color: #231f20;
}
.box h4 {
  text-indent: 0;
  border-bottom: 1px solid #231f20;
  width: 80%;
}
/*The outer-most list (direct child) of the box has left padding.*/
.box-inner > ul {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}
.box-inner > ol {
  margin: 0;
  padding-left: 9%;
  padding-right: 5%;
}
/*.box ul ul, .box ol ol {
	padding-left: 1.5em;
}*/
.box-inner > ol {
  list-style-position: outside;
}
.box a,
.box a:link,
.box a:visited,
.box a:hover,
.box a:focus,
.box a:active {
  color: #231f20;
  text-decoration: underline;
}
.box a:hover,
.box a:focus,
.box a:active {
  color: #91002c;
  background-color: #ffffff;
  text-decoration: none;
}
/* Adjustments for the blue box */
.blue {
  color: #ffffff;
  background-color: #2a5f7b;
}
/*Headings are all white when inside the darkBlue box*/
.blue h2,
.blue h3,
.blue h4,
.blue h5,
.blue h6 {
  color: #ffffff;
}
.blue h4 {
  text-indent: 0;
  border-bottom: 1px solid #ffffff;
}
.blue a,
.blue a:link,
.blue a:visited,
.blue a:hover,
.blue a:focus,
.blue a:active {
  color: #ffffff;
}
.box a:hover,
.box a:focus,
.box a:active {
  color: #91002c;
}
/*Adjustmets for lightBlue and green*/
.lightBlue {
  background-color: #70aece;
}
.green {
  background-color: #b5bda5;
}
/*Text is all black when inside the lightBlue and green boxes*/
.lightBlue *,
.green * {
  color: #231f20;
}
/*Un-order list bullets are all white when inside the blue box*/
.blue ul > li {
  background: transparent left 4px no-repeat;
  background-image: url(cssImg/bullet_white.png);
  /*padding-left: 1.25em;*/

}
.blue ol > li {
  background-image: none;
  padding-left: 0.25em;
}
/*.blue ul li ul li {
	background-image: url(cssImg/bullet_white.png);
}*/
/*.blue ul li li li {
	background-image: url(cssImg/bullet_white.png);
}
.blue ul li li li li{
	background-image: url(cssImg/bullet_white.png);
}
.blue ul li li li li li{
	background-image: url(cssImg/bullet_white.png);
}
.blue li ul {
	background-image: none;
}*/
/** == Thoughtbox */
/* Turn a box into a thought cloud box by wrapping the box in a div with the thoughtBox. */
.thoughtBox {
  max-width: 800px;
  width: 80%;
  padding-bottom: 75px;
  /*for the bubbles*/

  background: url(cssImg/thoughtBubbleStem.jpg) no-repeat right bottom;
  margin: 0 10% 1.5em 10%;
}
.thoughtBox .box {
  width: 100%;
  margin: 0;
}
/** == General foramtting classes usually used to for little changes need when marking up content */
.clear,
.clearBoth {
  clear: both;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.floatNone {
  float: none;
}
.imgLeft {
  float: left;
  margin: 0 1em 1em 0;
  padding-left: 0;
}
.imgRight {
  float: right;
  margin: 0 0 1em 1em;
  padding-right: 0;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}
.textJustify {
  text-align: justify;
}
.textIndent {
  padding-left: 40px;
}
.textUpperCase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  border-bottom: 1px solid;
}
.highlight,
.hilight {
  background: #ffd500;
}
.noborder {
  border: none;
}
.nopadding {
  padding: 0;
}
.noindent {
  margin-left: 0;
  padding-left: 0;
}
.noindent li {
  padding-left: 0;
}
ol.nobullet,
ul.nobullet,
.nobullet ul,
.nobullet ol {
  list-style: none;
  list-style-image: none;
}
ol.nobullet,
ul.nobullet {
  margin: 0;
  padding-left: 0;
}
.nobullet li,
.nobullet li li {
  background: none;
  padding: inherit;
}
.plain {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
.plain li {
  margin: 0;
  padding: 0 0 5px 0;
}
.small {
  font-size: 80%;
}
.source {
  font-weight: normal;
}
